header {
  display: none;

  background-color: white;
}
$color-line: #bfbfbf;
.top-header {
  display: flex;

  border-bottom: 1px solid $color-line;
  a:nth-child(2) {
    margin: 0 auto;
    svg {
      width: 380px;
      height: 140px;
    }
  }
  .subscribe {
    position: absolute;
    top: 29px;

    display: flex;

    width: 218px;
    padding-left: 60px;
    img {
      min-width: 85px;
      height: 116px;
    }
    span {
      font-family: Brutal,sans-serif;
      font-size: 13px;
      font-weight: bold;

      display: block;

      align-self: center;
    }
    span:last-child:hover {
      transition: all 0.1s ease-in-out 0s;

      background: black;
      a {color: white;
      }
    }
    span:last-child {
      font-size: 12px;

      padding: 4px 7px;

      text-transform: uppercase;

      border: 1px solid;
      a {
        color: black;
      }
    }
  }
}
@media (min-width:1024px) {
  header {
    display: block;
  }
}
